assets/data/default2.csv filter=lfs diff=lfs merge=lfs -text
assets/data/scansion/homer_syllables.csv filter=lfs diff=lfs merge=lfs -text
assets/data/scansion/iliad_syllables.csv filter=lfs diff=lfs merge=lfs -text
